/* @import url(http://fonts.googleapis.com/css?family=BenchNine&subset=latin,latin-ext); */
@font-face {
    font-family: myFont1;
    src: url("../font/amaz_nica_normal/Amazonica_Juan_Casco.ttf");
}

@font-face {
    font-family: myFontSerbian;
    src: url("../font/monofur_regular/monof55.ttf");
}

@font-face {
    font-family: myFont2;
    src: url("../font/idealist_sans_regular/Idealist%20Sans.otf");
}

@font-face {
    font-family: mySymbols;
    src: url("../font/Entypo%20@font-face/entypo.ttf");
}

.recent-article {
    width: 460px;
    box-sizing: border-box;
    padding: 20px;
    overflow: hidden;
    float: left;
    background-color: #f5f5f5;
    margin-right: 5px;
}

/*.recent-article:first-child {*/
    /*border-right: 1px solid #a0a0a0;*/
/*}*/

/*.recent-article:nth-child(2) {*/
    /*border-left: 1px solid #a0a0a0;*/
/*}*/

.article-image {
    height: 175px;
    background: no-repeat center;
    background-size: 100%;

}

.caption {
    font-family: 'myFontSerbian', sans-serif;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 5px;
    height: 49px;
    overflow: hidden;
    margin-top: 5px;
}

.article-info {
    font-family: 'myFont2', sans-serif;
    font-size: 12px;
    margin-bottom: 15px;
    border-bottom: 1px solid #808080;
    border-top: 1px solid #808080;
    padding: 5px 0;
}

.piece-of-text {
    font-size: 16px;
    text-align: justify;
    font-family: 'Arial', sans-serif;
    line-height: 19px;
}

.regular-article {
    margin-bottom: 50px;
    /*height: 300px;*/
    width: 630px;
    border-top: 1px solid #a0a0a0;
    border-bottom: 1px solid #a0a0a0;
    /*box-shadow: 0 0 5px #a0a0a0;*/
    box-sizing: border-box;
    padding: 15px;
    float: left;
}

.r-article-image {
    float: left;
    height: 270px;
    width: 270px;
    margin-right: 30px;
    background: no-repeat center;
    background-size: 100%;
    background-color: #f5f5f5;
}

.post-image {
    width: 270px;
    height: 270px;
}
.right-side {
    float: left;
    height: 270px;
    width: 300px;
}

#regular-article-wrapper {
    width: 930px;
    position: relative;
    top: 30px;
}

#right-regular-article {
    float: left;
    width: 630px;
    margin-top: 10px;
}

#left-regular-article {
    float: left;
    width: 278px;

}

.alignleft {
    float: left;
}

.alignright {
    float: right;
}

.aligncenter {
    display: block;
}

.read-more {
    cursor: pointer;
    background-color: #f95625;
    height: 25px;
    width: 120px;
    text-align: center;
    box-sizing: border-box;
    padding: 2px;
    line-height: 21px;
    color: #ffffff;
    position: relative;
    top: 10px;
    float: right;
    font-family: 'Arial', sans-serif;
}

#post {
    width: 600px;
    margin-left: 25px;
    font-family: 'myFont1', sans-serif;
    font-size: 18px;
    float: left;
}

#post img.alignleft {
    margin-right: 20px;
}

#post img.alignright {
    margin-left: 20px;
}

.post-title {
    font-family: 'myFont1', sans-serif;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
    text-decoration: underline;
}

strong {
    font-weight: bold;

}

em {
    font-style: italic;
}

#right-ceo-post {
    float: left;
    width: 300px;
    height: 300px;
    border: 1px solid #808080;
}