/*@import url(http://fonts.googleapis.com/css?family=BenchNine&subset=latin,latin-ext);*/
@font-face {
    font-family: myFont;
    src: url("../font/whipsmart_regular/Whipsmart.ttf");
}

@font-face {
    font-family: myFont1;
    src: url("../font/lt_oksana_regular/LT%20Oksana.ttf");
}

html {
    background-color: #f0f0f0;
}

#nav-wrapper {
    height: 70px;
    width: 100%;
    background-color: #f95625;
    color: white;
    z-index: 1
}

#nav {
    height: 70px;
    width: 950px;
    margin: 0 auto;
    z-index: 2
}

.navBar {
    width: 500px;
    overflow: hidden;
    display: inline-block;
    z-index: 3
}

.navBar-link {
    display: inline-block;
    font-family: 'myFont', sans-serif;
    font-size: 24px;
    width: 120px;
    height: 70px;
    font-weight: bold;
    cursor: pointer;
}

.navBar-window {
    height: 40px;
    overflow: hidden;
    position: relative;
    top: 15px;
}

.roll {
    height: 80px;
    position: relative;
    top: -40px;
    text-align: center;
}

.roll-up {
    height: 40px;
    color: #73afcf;
    line-height: 40px;
}

.roll-down {
    height: 40px;
    color: white;
    line-height: 40px;
}


#logo {
	width: 930px;
	margin: auto;
	background: #ffffff url("../slike/zag.jpg") no-repeat left top;
	background-size: 100% 300px;
    height: 300px;
}
header
{
	background: -webkit-linear-gradient(left, 	#333333 ,#B2B2B2); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(right, #333333 ,#B2B2B2); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(right, #333333 ,#B2B2B2); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to right,  #333333 ,#B2B2B2); /* Standard syntax */
}

main {
    width: 950px;
    /*height: 1000px;*/
    margin: 0 auto;
    background-color: #fff;
    box-sizing: border-box;
    padding: 10px;
    position: relative;
}

#slider {
    height: 400px;
    border: 1px solid #a0a0a0;
}

#form {
    display: inline-block;
    height: 70px;
    width: 300px;
    position: relative;
    bottom: 30px;
    left: 193px;
}

#search-field {
    position: relative;
    left: 200px;
    width: 190px;
    height: 35px;
    font-size: 20px;
    padding: 5px 2px;
	top: 0px;
	border: none;
	border-bottom: 2px solid black;
	background-color: #f95625;
}

#search {

    width: 65px;
    height: 65px;
    background-image: url("../ikonice/magnifier.png");
    background-size: 60%;
    border: none;
    background-color: #f95625;
    background-repeat: no-repeat;
}

#slide-top {
    width: 60px;
    height: 60px;
    position: fixed;
    top: 80%;
    right: -60px;
    opacity: 0.8;
    font-size: 40px;
    cursor: pointer;
    text-align: center;
    background-image: url("../ikonice/strelica.png");
    background-size: 100%;
}
#slide-top:hover {
    opacity:1;
}

#slide-down
{
    background-color: #f95625;
    height: 0px;
    width: 100%;
    position: absolute;
    z-index: 1;
    left: 0px;
    top: 370px;
}


#categories-wrapper
{
	margin-left: 150px;
	margin-right: 150px;
}

#categories
{
	border-top: 2px solid white;
	width: 100%;
	height: 200px;
	opacity: 0;
 	display: none;
	z-index: 1;
	position: absolute;
}
.categories
{
	margin-top: 60px;
	margin-left: 0;
	height: 30px;
	width: 130px;
	float: left;
	text-align: center;
}
.categories:hover
{
	cursor:pointer;
    color: #73afcf;
}

#comments {
    width: 930px;
    margin: 0 auto;
    background: #ffffff;
    margin-bottom: 50px;
    padding: 25px;
    box-sizing: border-box;
    float: left;
}

.comment {
    margin-bottom: 25px;
    border: 1px solid #f95625;
    font-family: 'BenchNine', sans-serif;
    box-sizing: border-box;
    padding: 25px;
    font-size: 21px;
    width: 600px;

}
.comment-info {
    margin-bottom: 10px;
    border-bottom: 1px solid black;
}

#comment-replay {
    margin-top: 40px;
}

#comment-replay p {
    margin-bottom: 20px;
    font-size: 27px;
    font-family: myFont1;
}

#set-comment {
    height: 250px;
    width: 600px;
    position: relative;
    float: left;
    font-family: 'BenchNine', sans-serif;
}

#comment-content {
    height: 150px;
    font-size: 20px;
    width: 100%;
    margin-bottom: 10px;
    -webkit-appearance: none;
    background: #fff;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    padding: 0 8px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    font-family: 'BenchNine', sans-serif;
}
input[type=text], input[type=email] {
    height: 34px;
    font-size: 20px;
    width: 100%;
    margin-bottom: 10px;
    -webkit-appearance: none;
    background: #fff;
    border: 1px solid #d9d9d9;
    -moz-box-sizing: border-box;
    border-top: 1px solid #c0c0c0;
    padding: 0 8px;
    box-sizing: border-box;
    font-family: 'BenchNine', sans-serif;
}

#send {
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    height: 36px;
    padding: 0 8px;
    color: #fff;
    text-shadow: 0 1px rgba(0,0,0,0.1);
    background-color: #f95625;
    border: 0px;
    width: 100%;
}

#send:hover {
    border: 0px;
    text-shadow: 0 1px rgba(0,0,0,0.3);
    background-color: #f95635;
}
