@import url(http://fonts.googleapis.com/css?family=BenchNine&subset=latin,latin-ext);
body {
    background-color: #a0a0a0;
}

#wrapper {
    margin: 0 auto;
    background-color: #ffffff;
}

#left {
    float: left;
    width: 450px;
}

#text {
    width: 450px;
    height: 600px;
    display: block;
}

#top-left {
    width: 450px;
    font-family: 'BenchNine', sans-serif;
    font-size: 20px;
}
#right {
    float: left;
    width: 800px;
    font-family: 'BenchNine', sans-serif;
    background-color: #ffffff;
    position: relative;
    /*height: 400px;*/
}

.textStyle, .img {
    margin-left: 10px;
    height: 30px;
    cursor: pointer;
    border-right: 1px solid black;
    padding-right: 10px;
}

.italic {
    font-style: italic;
}

.bold {
    font-weight: bold;
}